:root {
  --primary-color: rgb(2, 4, 43);
  --secondary-color: rgb(34, 122, 229);
  --tertiary-color: rgb(248, 190, 82);
  --largest-font: 4rem;
  --larger-font: 3rem;
  --large-font: 2rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--tertiary-color);
  text-shadow: 0 0 10px var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root__h1 {
  text-align: center;
  font-size: var(--largest-font);
  padding: 1rem 0;
  margin: 0;
  border-width: 0 0 2px 0;
  border-bottom: solid var(--primary-color);
}

.searchTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-width: 0 0 2px 0;
  border-bottom: solid var(--primary-color);
}

.searchTypes__type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchType__heading {
  text-align: center;
  font-size: var(--large-font);
}

.searchType__input,
.searchType__input:active,
.searchType__input:focus {
  text-align: center;
  color: var(--tertiary-color);
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  background: transparent;
  border-width: 0 0 2px 0;
  border-bottom: solid var(--primary-color);
  outline: none;
  transition: 0.2s all ease-in-out;
}

.searchType__input::placeholder {
  color: var(--tertiary-color);
  text-shadow: 0 0 10px var(--primary-color);
}

.searchType__input:hover {
  transform: scale(1.1);
}

.searchType--text {
  font-size: large;
}

.searchType--number {
  font-size: large;
}

.searchType--number::-webkit-inner-spin-button,
.searchType--number::-webkit-outer-spin-button {
  display: none;
}

.searchType--number {
  -moz-appearance: textfield;
}

.searchType__button {
  padding: 1rem;
  margin: 1rem;
  background: var(--primary-color);
  color: var(--tertiary-color);
  font-weight: bolder;
  font-size: large;
  border-width: 0 0 2px 0;
  border-radius: 5px;
  border-color: var(--tertiary-color);
  border-style: solid;
  transition: 0.2s all ease-in-out;
}

.searchType__button:hover {
  transform: scale(1.1);
}

.searchType__numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.searchResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.searchResults__heading {
  text-align: center;
  font-size: var(--larger-font);
  padding-bottom: 1rem;
  border-width: 0 0 2px 0;
  border-bottom: solid var(--primary-color);
}

.ringLoader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.ringLoader::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--tertiary-color);
  border-color: var(--tertiary-color) transparent var(--tertiary-color)
    transparent;
  animation: ringLoader 1.2s linear infinite;
}

@keyframes ringLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchResults__weatherSummary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
  border-width: 0 0 2px 0;
  border-bottom: solid var(--primary-color);
}

.weatherSummary__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

.weatherSummary__text {
  text-transform: capitalize;
  font-size: var(--large-font);
}

#weatherSummary__oneliner {
  font-size: var(--larger-font);
  font-weight: bold;
}

.weatherSummary__img  {
  animation: attention 3s ease-in-out infinite;
}

@keyframes attention {
  0% {
    transform: scale(1.2);
  }
  50%  {
    transform: scale(1.0);
  }
  100%  {
    transform: scale(1.2);
  }
}

.searchResults__weatherDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
  border-width: 0 0 2px 0;
  border-bottom: solid var(--primary-color);
}

.weatherDetails__heading {
  text-align: center;
  font-size: var(--larger-font);
}

.weatherDetails__details {
  list-style-type: none;
  padding: 3rem 0;
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  justify-content: space-evenly;
  grid-column-gap: 2rem;
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 2rem;
  row-gap: 2rem;
}

.weatherDetails__text {
  text-align: center;
  font-size: large;
}

.searchResults__errors  {
  animation: attention 3s ease-in-out infinite;
}

.errors__title  {
  font-size: var(--large-font);
}
.errors__message  {
  font-size: large;
}

/* Desktop only */
@media only screen and (min-width: 1024px) {
}

/* Mobile and Tablet (i think?) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only (i think?) */
@media only screen and (max-width: 767px) {
  .root__h1 {
    font-size: var(--larger-font);
  }
  .searchTypes {
    flex-direction: column;
  }
  .searchType__numbers {
    flex-direction: column;
  }
  .coord_label {
    display: none;
  }
  .searchResults__weatherSummary {
    flex-direction: column;
  }
  .weatherSummary__col {
    width: 100%;
  }
}
